<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<link rel="icon" href="ファビコンのサンプル" sizes="16x16" type="image/png">
<meta property="og:title" content="<%= meta.ogTitle %>" />
<% if( pageId !== "top" ) { %><meta property="og:type" content="article"><% } else { %><meta property="og:type" content="website"><% }; %>
<meta property="og:image" content="<%= meta.ogImage %>" />
<meta property="og:url" content="<%= meta.ogUrl %>" />
<link rel="stylesheet" type="text/css" href="/css/base.min.css">
<% if (typeof cssFileName === 'undefined') { var cssFileName = ''; } for (var key in cssFileName) { %><link rel="stylesheet" type="text/css" href="/css/<%- cssFileName[key] %>.min.css"><% } %>
</head>