<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"_src/_template/";

/* ページID */
var pageId = "top";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["top"];
%>
<!DOCTYPE html>
<html lang="ja">
<% // ヘッド %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%= pageId %>">

<% // ヘッダー %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%= pageId %>">

<% //メインビジュアル %>
<div class="box-mainVisual">
	<img class="img-mainVisual" src="../img/top/imgMainVisual.jpg" alt="" width="100%" height="">
	<img class="img-mainVisual--sp" src="../img/top/imgMainVisualSp.jpg" alt="" width="100%" height="">
</div><!-- /.box-mainVisual -->

<% //お知らせ %>
<div class="box-news">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "News",
	txtContentHeadJp: "お知らせ",
	type: "h1"
}) %>

<ul class="list-news">
	<li class="item-news">
		<a class="box-linkNews" href="#">
			<div class="tmb-news">
				<img src="../img/top/tmbNews.png" width="100%" height="">
			</div><!-- /.tmb-news -->
			<div class="box-newsSpec">
				<p class="txt-newsDate">2018.11.1</p>
				<h2 class="ttl-news">11/17・開催！見学会のお知らせ</h2>
			</div><!-- /.box-newsSpec -->
		</a><!-- /.box-linkNews -->
	</li>
	
	<li class="item-news">
		<a class="box-linkNews" href="#">
			<div class="tmb-news">
				<img src="../img/top/tmbNews.png" width="100%" height="">
			</div><!-- /.tmb-news -->
			<div class="box-newsSpec">
				<p class="txt-newsDate">2018.11.1</p>
				<h2 class="ttl-news">11/17・開催！見学会のお知らせ</h2>
			</div><!-- /.box-newsSpec -->
		</a><!-- /.box-linkNews -->
	</li>
	
	<li class="item-news">
		<a class="box-linkNews" href="#">
			<div class="tmb-news">
				<img src="../img/top/tmbNews.png" width="100%" height="">
			</div><!-- /.tmb-news -->
			<div class="box-newsSpec">
				<p class="txt-newsDate">2018.11.1</p>
				<h2 class="ttl-news">11/17・開催！見学会のお知らせ</h2>
			</div><!-- /.box-newsSpec -->
		</a><!-- /.box-linkNews -->
	</li>
	
	<li class="item-news">
		<a class="box-linkNews" href="#">
			<div class="tmb-news">
				<img src="../img/top/tmbNews.png" width="100%" height="">
			</div><!-- /.tmb-news -->
			<div class="box-newsSpec">
				<p class="txt-newsDate">2018.11.1</p>
				<h2 class="ttl-news">11/17・開催！見学会のお知らせ</h2>
			</div><!-- /.box-newsSpec -->
		</a><!-- /.box-linkNews -->
	</li>
	
	<li class="item-news">
		<a class="box-linkNews" href="#">
			<div class="tmb-news">
				<img src="../img/top/tmbNews.png" width="100%" height="">
			</div><!-- /.tmb-news -->
			<div class="box-newsSpec">
				<p class="txt-newsDate">2018.11.1</p>
				<h2 class="ttl-news">11/17・開催！見学会のお知らせ</h2>
			</div><!-- /.box-newsSpec -->
		</a><!-- /.box-linkNews -->
	</li>
</ul><!-- /.list-news -->

<% // ボタン %>
<%- include(setLayered + "btn/btn-transition", {
		txtTransition: "Read More"
}) %>

</div><!-- /.box-news -->

<% // 思い %>
<a class="box-separateContent" href="#">
	<div class="tmb-separateContent">
		<img class="img-separateContent" src="../img/top/tmbSeparateConcept.jpg" alt="『Concept 思い』のサムネイル" width="100%" height="">
		<img class="img-separateContent--sp" src="../img/top/tmbSeparateConceptSp.jpg" alt="『Concept 思い』のサムネイル" width="100%" height="">
	</div><!-- /.tmb-separateContent -->
	
	<dl class="data-separateContent">
		<dt class="ttl-separateContent">家づくりのトータルサポート</dt>
		<dd class="txt-separateContent">
			材木屋としてスタートし、工務店として地域に根ざして80年。私達は地域の皆様に長く愛される家づくりを目指してまいりました。<br>
			一生に一度の大きな買い物だから妥協はしたくない、夢や想いをしっかり形にしたい。そしてこれからもこれからも暮らしていきたい。<br>
			住む場所から、お引渡しの後まで末永くサポートするのが私たちの役割です。
			<span class="btn-separateContent">Read More</span>
		</dd>
	</dl><!-- /.data-separateContent -->
</a><!-- /.box-separateContent -->

<% // 家づくりについて %>
<a class="box-separateContent" href="#">
	<div class="tmb-separateContent">
		<img class="img-separateContent" src="../img/top/tmbSeparateStyle.jpg" alt="『Style of building』のサムネイル" width="100%" height="">
		<img class="img-separateContent--sp" src="../img/top/tmbSeparateStyleSp.jpg" align="『Style of building 家づくりについて』のサムネイル" width="100%" height="">
	</div><!-- /.tmb-separateContent -->
	
	<dl class="data-separateContent">
		<dt class="ttl-separateContent">建てた時の強さがつづく家</dt>
		<dd class="txt-separateContent">
			木の強さと美しさを最大限に活かした「ロイヤルSSS構法」。<br>
			経年変化によって収縮する木の性質を逆手にとって、収縮すればするほど密着度と強度が増す画期的な仕組み。金物も露出しないため、柱や梁のあらわしも美しく仕上がります。<br>
			耐震性、耐久性、省エネルギー性能などに優れた「長期優良住宅」に適合し、「H28年省エネ基準」をクリアする、信頼の住まいです。
			<span class="btn-separateContent">Read More</span>
		</dd>
	</dl><!-- /.data-separateContent -->
</a><!-- /.box-separateContent -->

<% // 施工事例 %>
<%- include(setLayered + "box-addToWorks/box-addToWorks") %>

<% // お問い合わせ %>
<%- include(setLayered + "box-addToContact/box-addToContact") %>

</div><!-- /.box-content-<%= pageId %> -->

<% // フッター %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>