<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"_src/_template/";

/* ページID */
var pageId = "works";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["works"];
%>
<!DOCTYPE html>
<html lang="ja">
<% // ヘッド %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%= pageId %>">

<% // ヘッダー %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%= pageId %>">

<% // 大見出し %>
<%- include(setLayered + "ttl/ttl-pageHead", {
	txtPageHeadEn: "Works",
	txtPageHeadJp: "施工事例",
	txtPageHeadCaption: "石川県加賀市の工務店、ロイヤルハウス加賀店by株式会社北出木材工業の施工事例をご紹介します。"
}) %>

<% // 小見出し %>
<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "Works",
	txtContentHeadJp: "施工事例",
	type: "h2"
}) %>

<% // ローカルナビ %>
<%- include(setLayered + "box-columnNavigation/box-columnNavigation", {
	dataColumnNavigation: [
		{
			txtColumnNavigation: 'Model'
		},
		{
			txtColumnNavigation: 'New build'
		},
		{
			txtColumnNavigation: 'Renovation'
		},
		{
			txtColumnNavigation: 'Reform'
		},
		{
			txtColumnNavigation: 'Shop'
		}
	]
}) %>

<%- include(setLayered + "list-column/list-column") %>


<%- include(setLayered + "pagination/pagination") %>

<% // 施工事例 %>
<%- include(setLayered + "box-addToWorks/box-addToWorks") %>

<% // お問い合わせ %>
<%- include(setLayered + "box-addToContact/box-addToContact") %>

</div><!-- /.box-content-<%= pageId %> -->

<% // フッター %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>