<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"_src/_template/";

/* ページID */
var pageId = "faq";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["faq"];
%>
<!DOCTYPE html>
<html lang="ja">
<% // ヘッド %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%= pageId %>">

<% // ヘッダー %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%= pageId %>">

<% // 大見出し %>
<%- include(setLayered + "ttl/ttl-pageHead", {
	txtPageHeadEn: "FAQ",
	txtPageHeadJp: "よくある質問",
	txtPageHeadCaption: "石川県加賀市の工務店、ロイヤルハウス加賀店by株式会社北出木材工業のお問い合わせの多いよくある質問をご紹介します。"
}) %>

<% //お知らせ %>
<div class="box-faqInner">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "FAQ",
	txtContentHeadJp: "よくある質問",
	type: "h2"
}) %>

<% // メインコンテンツ %>
<%- include(setLayered + "list-faq/list-faq", {
	dataFaq : [
		{
			ttlFaq: "家を建てたいと思うのですが、何からどのように相談すれば良いですか？",
			txtFaq: "悩んでいらっしゃることや疑問があれば、遠慮なく、お電話やメールでも結構ですので、気軽にご連絡ください。土地の決定や、資金のこと、家を建てる前に必要な準備の事から、アドバイスさせていただきます。まずは、見学会やイベントにお越しいただくのも良いかも知れません。"	
		},
		{
			ttlFaq: "遠方でも、家を建てていただけますか？",
			txtFaq: "まずはご希望をお伺いいたします。お気軽にご相談下さい。"	
		},
		{
			ttlFaq: "土地が決まっていませんが探していただけますか？",
			txtFaq: "はいもちろんです。<br>弊社は、不動産取引の免許を取得しておりますし、地元のネットワークを活かしてお客様のご要望にあった土地探しのお手伝いをすることが可能です。また建築士として、プロの視線で土地探しについてもさせて頂きます。例えば、土地のおける日射の影響によって冷暖房の効率や、光熱費に差が出てきますので、まずはご気軽にご相談下さい。"	
		},
		{
			ttlFaq: "自由設計とはどこまでが自由なのですか？",
			txtFaq: "あらかじめ間取りが決まっている企画の商品住宅は、いくつかのパターンの中から選択するので自由設計ではありませんが、当社の注文住宅は、お客様のご予算、家族構成、ライフスタイル、こだわりなど一からご要望をヒアリングしてプランを作成していきますので全くオリジナルの家づくりが可能です。<br>ですから、外観デザイン、建具、床材などの内装建材をはじめ、キッチン、ユニットバスなどの住宅設備も制限がなく自由に決められるということです。"	
		},
		{
			ttlFaq: "お見積りはどれ位の期間でいただけますか？",
			txtFaq: "お見積り内容の種類や規模にもよりますが、基本的に約1週間を目安として考えて頂いております。 お見積りは施工させて頂く箇所の状態などを詳しく調査してからの作業となります。 お急ぎの場合、長く感じられると思いますが、住まいの性能や好みなど、お客様一人ひとりにとって最適なプランをご提出させて頂きます。"	
		},
		{
			ttlFaq: "見積後に交渉はできますか？",
			txtFaq: "可能です。 お見積り内容を十分にご説明させて頂きご納得いただけない場合は、プラン変更によって価格を抑えた提案をさせて頂きます。"	
		},
		{
			ttlFaq: "支払はいつ・どのようにすればよいですか？",
			txtFaq: "長期工事の場合、ご契約時・中間・工事完了時と3回に分けてご請求させて頂きます。 工事内容や期間・金額によっては工事完了後にご請求致します。 請求額は、御見積提出時に提示させて頂きます。 お支払方法は銀行振込・集金・店舗支払よりご都合の良いものをお選び下さい。"	
		},
		{
			ttlFaq: "各種助成金の申請に対応してくれますか？",
			txtFaq: "はい、ご対応いたします。家づくりには、各種助成金を利用することをお勧めします。新築では長期優良住宅やゼロ・エネルギー住宅等に対して助成が行われています。助成金は、新築のみならずリフォームや耐震診断についても、市や町、国がその時々の住宅政策として行っています。荒引工務店は、絶えずこれらの情報を収集し、申請やサポートを行っています。"	
		},
		{
			ttlFaq: "工事期間はどのくらいかかりますか？",
			txtFaq: "建物の大きさにより異なりますが、通常基礎の着工から５ヶ月前後です。<br>また、設計や確認申請の手続き、その他着工までに要する期間は４～５ヶ月かかります。"	
		},
		{
			ttlFaq: "アフターメンテナンス・定期点検はありますか？",
			txtFaq: "お引渡し後家がなじむまでの2年間計6回の現場監督による定期訪問の実施や急を要する水廻り電気などの不具合に対する当日対応も万全です。詳しくは弊社の強みページを御覧ください。"	
		}
	]
}) %>


</div><!-- /.box-faqInner -->

<% // 施工事例 %>
<%- include(setLayered + "box-addToWorks/box-addToWorks") %>

<% // お問い合わせ %>
<%- include(setLayered + "box-addToContact/box-addToContact") %>

</div><!-- /.box-content-<%= pageId %> -->

<% // フッター %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>