<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"_src/_template/";

/* ページID */
var pageId = "about-us";

/* cssのファイル名（拡張子は不要。複数ある場合は、『,』で区切って記入） */
var cssFileName = ["about-us"];
%>
<!DOCTYPE html>
<html lang="ja">
<% // ヘッド %>
<%- include(setLayered + "base/head", { pageId: pageId, cssFileName: cssFileName }) %>
<body class="<%= pageId %>">

<% // ヘッダー %>
<%- include(setLayered + "base/header") %>

<div class="box-content-<%= pageId %>">

<% // 大見出し %>
<%- include(setLayered + "ttl/ttl-pageHead", {
	txtPageHeadEn: "About us",
	txtPageHeadJp: "株式会社北出木材工業について",
	txtPageHeadCaption: "石川県加賀市の工務店、ロイヤルハウス加賀店by株式会社北出木材工業の家造りに対しての想いや強みについてご紹介します。"
}) %>

<% //お知らせ %>
<div class="box-concept">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "Concept",
	txtContentHeadJp: "家造りに対しての想い",
	type: "h2"
}) %>

<p class="txt-concept">材木屋としてスタートし、工務店として地域に根ざして80年。私達は地域の皆様に長く愛される家造りを目指してまいりました。<br>
	一生に一度の大きな買い物だから妥協はしたくない、夢や想いをしっかり形にしたい。<br>
	そしてこれからもこれからも暮らしていきたい。<br>
	住む場所から、お引渡しの後まで末永くサポートするのが私たちの役割です。</p>

</div><!-- /.box-concept -->

<div class="box-strengths">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "Our strengths",
	txtContentHeadJp: "弊社の強み",
	type: "h2"
}) %>

<ul class="list-strengths">
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">地域に根ざし80年。<br class="newLine">いい家をお求めやすく</dt>
			<dd class="txt-strengths">
				材木屋の創業から数えて80年。私たちは木を知り尽くすプロとして、地域でコツコツと信頼を築いてきました。
		全国100店舗以上の工務店ネットワーク「ロイヤルハウス」加盟店としても20年以上の実績を誇ります。地元に根ざした弊社のきめ細かい安心施工とロイヤルハウスの技術力とコストパフォーマンスにより、上質な家をお求めやすい価格で提供致します。
				<div class="box-strengthsInner">
					<a href="#" class="btn-strengths">家づくりについて見る</a>
				</div><!-- /.box-strengthsInner -->
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strength80years.jpg" alt="『地域に根ざし80年。いい家をお求めやすく』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">じっくりと丁寧に。<br class="newLine">想いを形にする完全自由設計</dt>
			<dd class="txt-strengths">
				家づくりへの夢や想いを丁寧にくみ取り、暮らしをデザインしたい。だから私たちは自由設計にこだわります。「オリジナルTVボードをしつらえたい」「最新のスマートハウスにしたい」「ひのきの柱にしたい」など想いをたくさんお聞かせください。じっくりと検討し納得していただきたい、そしてお客様との信頼関係を大切にしたいという思いから、契約を急かすことはしません。納得できるまでじっくりと造り上げていきましょう。
				<span class="note-strengths">※コストパフォーマンスに優れたセットプランも数多く取り揃えております。</span>
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strengthFree.jpg" alt="『じっくりと丁寧に。想いを形にする完全自由設計』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">無料でプランをご提案。<br class="newLine">納得いくまで何度も作成</dt>
			<dd class="txt-strengths">
				敷地やライフスタイル、こだわりを反映させたプランを約50ページのプレゼンシートにまとめて提案します。図面はもちろん、3Dによる内外装やキッチン、バスルームなどの設備、照明まで具体的に見ていただくことで、理想をより明確にすることができます。見積もりやローン返済シミュレーションなども大切なポイント。
		プレゼンシートは無料で作成しますので、お気軽にご依頼下さい。
				<div class="box-strengthsInner">
					<a href="#" class="btn-strengths">プラン作成を依頼する</a>
				</div><!-- /.box-strengthsInner -->
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strengthPlan.jpg" alt="『無料でプランをご提案。納得いくまで何度も作成』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">建てている時の安心と<br class="newLine">建てた後の安心~まごころ対応~</dt>
			<dd class="txt-strengths">
				建築中の自社現場管理に加え第三者機関による基礎・構造検査の実施及び、完成、引き渡しまでの不測の事態に対する安心保証や地盤の不当沈下、建物の瑕疵に対する安心保証も充実しております。<br>
				また、お引渡し後も家がなじむまでの2年間計6回の現場監督による定期訪問の実施や、急を要する水廻り電気などの不具合に対する迅速な対応も万全です。
				<div class="box-strengthsInner">
					<a href="#" class="btn-strengths">安心安全の家づくりについて見る</a>
				</div><!-- /.box-strengthsInner -->
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strengthPeaceOfMind.jpg" alt="『建てている時の安心と建てた後の安心~まごころ対応~』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">土地探し・ローン・登記・税金相談<br class="newLine">お任せください</dt>
			<dd class="txt-strengths">
				不動産免許を有する弊社では、売土地では無い土地の地主様との交渉など人脈を活かした土地探しも行います。土地探しに行き詰っている方、是非お話をお聞かせください。また、住宅ローン借入に関してもお客様の将来設計に合わせた金融機関を数社ご提案し、お選び頂いた金融機関とのお手続きもサポート致します。更に登記手続きや税金相談もパートナー司法書士を交えご相談承ります。
				<div class="box-strengthsInner">
					<a href="#" class="btn-strengths">土地情報を見る</a>
				</div><!-- /.box-strengthsInner -->
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strengthPleaseChoose.jpg" alt="『土地探し・ローン・登記・税金相談お任せください』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
	<li class="item-strengths">
		<dl class="data-strengths">
			<dt class="ttl-strengths">リフォームもお任せ下さい</dt>
			<dd class="txt-strengths">
				店舗数1万超え！弊社はLIXILが応援する国内最大級のリフォーム店ネットワークに加盟しております。材木屋の知識を活かした、古民家再生や木造住宅大規模リフォームを手がけております。<br>
				水廻り、窓、エクステリアなどの専門リフォームもお気軽にご相談下さい。
				<div class="box-strengthsInner">
					<a href="#" class="btn-strengths">リフォームについて見る</a>
				</div><!-- /.box-strengthsInner -->
			</dd>
		</dl><!-- /.data-strengths -->
		
		<img class="tmb-strength" src="/img/about-us/tmb-strengthReform.jpg" alt="『リフォームもお任せ下さい』のサムネイル" width="60%" height="">
	</li><!-- /.item-strengths -->
	
</ul><!-- /.list-strengths -->

</div><!-- /.box-strengths -->

<% // ロイヤルハウスについて %>
<div class="box-aboutRoyalHouse">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "ROYAL HOUSE",
	txtContentHeadJp: "ロイヤルハウスについて",
	type: "h2"
}) %>

<p class="txt-aboutRoyalHouse">ロイヤルハウスは、上質な木造住宅を建てる安心工務店ネットワーク。<br>
	北海道から沖縄まで全国約１１０の加盟店が、家づくりのご提案から、設計、施工、アフターサービスまで末永く安心の地域密着サービスをご提供しています。</p>

<div class="box-aboutRoyalHouseInner">
	<dl class="data-aboutRoyalHouse">
		<dt class="ttl-aboutRoyalHouseSub">信頼の実績</dt>
		<dd class="txt-aboutRoyalHouseSub">ロイヤルハウスは、家づくりの理念と仕組みを共有する加盟工務店でつくる住宅フランチャイズネットワーク。北海道から沖縄まで約110の加盟店が、地域密着の家づくりを行っています。これまで30年間の受注実績は、20,000棟(2016年3月)。上質な木造注文住宅を、地域の暮らしをよく知る地元加盟店が建てる安心ブランドとして、たくさんのご家族に支持されてきました。これからも、商品・サービス・信頼で、地域のお客様満足度No.1の住宅会社をめざしてまいります。</dd><!-- /.txt-aboutRoyalHouse -->
	</dl><!-- /.data-aboutRoyalHouse -->
	
	<dl class="data-aboutRoyalHouse">
		<dt class="ttl-aboutRoyalHouseSub">数多くの受賞実績</dt>
		<dd class="txt-aboutRoyalHouseSub">ロイヤルハウスは見た目の美しさはもちろん、機能性や提案力、革新性など幅広いデザイン力が評価される『グッドデザイン賞』を2012年「外暮らしの家」から2018年「育つ家」まで7年連続受賞しております。（今後も連続受賞に向けて日々取り組んでおります。）<br>
		また、子供の安全な暮らしや、子育てしやすい社会、創造性豊かな子供の育成などに役立つ製品や空間、サービスに顕彰する『キッズデザイン賞』、さらには木の良さや価値を再発見させる製品や取り組みについて、特に優れたものを消費者目線で評価する『ウッドデザイン賞』を2018年に受賞しております。</dd><!-- /.txt-aboutRoyalHouse -->
	</dl><!-- /.data-aboutRoyalHouse -->
</div><!-- /.box-aboutRoyalHouseInner -->

<% // ボタン %>
<%- include(setLayered + "btn/btn-transition", {
		txtTransition: "安心安全の家づくりについて"
}) %>

</div><!-- /.box-aboutRoyalHouse -->

<% // 会社概要 %>
<div class="box-companyProfile">

<%- include(setLayered + "ttl/ttl-contentHead", {
	txtContentHeadEn: "Company Profile",
	txtContentHeadJp: "会社概要",
	type: "h2"
}) %>

<h3 class="ttl-companyProfile">ロイヤルハウス加賀店/株式会社北出木材工業</h3>

<dl class="data-companyProfile">
	<dt class="ttl-companyProfileSub">本社住所（展示場）</dt>
	<dd class="txt-companyProfile">石川県加賀市小菅波町1-154（<a class="txt-companyProfileLink" href="https://goo.gl/maps/o4VUQmHSBpR2" target="_blank">GoogleMaps</a>）</dd>
	
	<dt class="ttl-companyProfileSub">製材工場</dt>
	<dd class="txt-companyProfile">石川県加賀市大聖寺敷地</dd>
	
	<dt class="ttl-companyProfileSub">TEL</dt>
	<dd class="txt-companyProfile">0761-72-0212</dd>
	
	<dt class="ttl-companyProfileSub">FAX</dt>
	<dd class="txt-companyProfile">0761-72-6722</dd>
	
	<dt class="ttl-companyProfileSub">メールアドレス</dt>
	<dd class="txt-companyProfile">info@royal-house.jp</dd>
	
	<dt class="ttl-companyProfileSub">代表者</dt>
	<dd class="txt-companyProfile">北出　健一</dd>
	
	<dt class="ttl-companyProfileSub">設立</dt>
	<dd class="txt-companyProfile">昭和58年（創業　昭和23年）</dd>
	
	<dt class="ttl-companyProfileSub">従業員数</dt>
	<dd class="txt-companyProfile">12人</dd>
	
	<dt class="ttl-companyProfileSub">事業内容</dt>
	<dd class="txt-companyProfile">建築工事業・不動産/一般建築・企画・設計・施工</dd>
	
	<dt class="ttl-companyProfileSub">建築業許可</dt>
	<dd class="txt-companyProfile">石川県知事許可(般-27) 第8347号</dd>
	
	<dt class="ttl-companyProfileSub">建築士事務所登録</dt>
	<dd class="txt-companyProfile">二級建築士事務所県知事登録 第24134号</dd>
	
	<dt class="ttl-companyProfileSub">宅地建物取引業者免許</dt>
	<dd class="txt-companyProfile">宅地建物取引業県知事許可(7) 第3028号</dd>
</dl><!-- /.data-companyProfile -->

<h3 class="ttl-companyProfile">沿革</h3>

<dl class="data-companyProfile">
	<dt class="ttl-companyProfileSub">昭和13年</dt>
	<dd class="txt-companyProfile">先々代が材木業に携わる</dd>
	
	<dt class="ttl-companyProfileSub">昭和23年</dt>
	<dd class="txt-companyProfile">先代が加賀市大聖寺にて北出木材店創業</dd>
	
	<dt class="ttl-companyProfileSub">昭和58年</dt>
	<dd class="txt-companyProfile">有限会社北出木材工業として法人化</dd>
	
	<dt class="ttl-companyProfileSub">平成2年</dt>
	<dd class="txt-companyProfile">全国工務店ネットワーク『ロイヤルハウス』に加盟</dd>
	
	<dt class="ttl-companyProfileSub">平成9年</dt>
	<dd class="txt-companyProfile">加賀市小菅波町に本社移転と同時に常設展示場開設</dd>
	
	<dt class="ttl-companyProfileSub">平成30年者</dt>
	<dd class="txt-companyProfile">株式会社北出木材工業に社名変更</dd>
</dl><!-- /.data-companyProfile -->

</div><!-- /.box-companyProfile -->

<% // 施工事例 %>
<%- include(setLayered + "box-addToWorks/box-addToWorks") %>

<% // お問い合わせ %>
<%- include(setLayered + "box-addToContact/box-addToContact") %>

</div><!-- /.box-content-<%= pageId %> -->

<% // フッター %>
<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>